{% extends 'garage/bootstrap.html' %}

{% load bootstrap5 %}

{% block bootstrap5_content %}
    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>

        <p>
            <a href="{% url 'garage:index' %}">Home</a>
            <a href="{% url 'garage:car_ads_detail' %}">Ads List</a>
            <a href="{% url 'garage:cars_detail' %}">Cars List</a>
            <a href="{% url 'garage:select_car' %}">Select Car</a>
        </p>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}
