{% if debug_flag %}
    <h1>This is {{page_name}}.html</h1>
{% endif %}
{% if car_detail %}
    <ul>
        <li>{{ car_detail.get_car_brand_display }} {{ car_detail.model }}</li>
    </ul>
{% else %}
    <p>No car ads are available.</p>
{% endif %}
{% if related_car_ads %}
    {% for car_ad in related_car_ads %}
        <ul>
            <li><a href="/garage/car_ad/{{ car_ad.id }}/">{{ car_ad.car.get_car_brand_display }} {{ car_ad.car.model }} {{ car_ad.vin }}</a></li>
        </ul>
    {% endfor %}
{% endif %}
<p><a href="/garage/car">Return to Cars List</a></p>
